ul{

    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;	
    background-color: transparent;

    margin-bottom:20px;
}

li{

  margin-right:50px;
  padding-top: 20px;

}

.navLinks{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 14pt;
}